img {
    height: 120px;
    width: 280px;
    padding-top: 109px;
    align-items: center;
    margin-top:32px;
}
.form1 {
    border-radius: 30px;
    border-color: lightgray,lightgray;
    border-width: 0.01mm;
    border-style: hidden;
    box-shadow: 2px 2px 2px 2px rgba(32,33,36,0.28);
    padding: 8px;
    margin:10px;
    height:28px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
form :hover {
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}
.inp
{
    padding:8px,8px,8px,8px;
    height:30px;
    width:150px;
    font-size: medium;
    margin-top: 20px ;
}
.linked {
    color: white;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    height:30px;
    width:150px;
    padding:8px,8px,8px,8px;
    margin: 10px;
    border-style: hidden;
    background-color: #4285F4;
}
button :hover {
    box-shadow: lightyellow;
    background-color: gray;
}
.logo2 {
    max-width: 90px;
    min-width: 90px;
    height: 40px;
    vertical-align: text-top;
    padding-top: 0px;
    margin-top: 8px;
    align-self: center;
    margin-left: 8px;
}
.block {
    margin-left: 0px;
    margin-right: 0px;
    margin:0px;
    white-space:nowrap;
    background: #f1f1f1;
    position: relative;
    height: 60px;
    width: 100%;
}
.bar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.abcd {
    border-bottom: 1px solid #ebebeb;
}
.okay {
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    background-color: #4d90fe;
    height: 30px;
    min-width: 120px;
    border: 1px solid #3079ed;
    color: #fff;
}
.boxx {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 300px;
}